* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  font-family: 'Helvetica Neue', 'Segoe UI', Helvetica, 'Open Sans', Arial, sans-serif;
  text-transform: uppercase;
  background: #000;
  color: #fdd;
}

body {
  width: 100%;
  min-height: 100%;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
  background: #f00;
  background: linear-gradient(rgba(0,0,0,0) 65%, #f00 0%);
}

a:hover, a:active {
  background: #f55;
  background: linear-gradient(rgba(0,0,0,0) 65%, #f55 0%);
}

img.fs-photo {
  width: 100%;
  height: 100%;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}

.main {
  width: 100%;
  height: 100%;
  padding: 0.5rem;
}

.container.middle {
  margin-bottom: 1rem;
}

.container.middle ul li {
  display: inline-block;
  margin-right: 0.25rem;
}

#filmstrip {
  display: flex;
  flex-wrap: wrap;
  overflow-x: auto;
  width: 100%;
  height: auto;
}

#footer {
  font-size: 0.75rem;
}



@media (orientation: landscape) {

  img.fs-photo {
    width: calc(25% - 0.5rem);
  }

}