* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

html, body {
  height: 100%;
  font-family: 'Helvetica Neue', 'Segoe UI', Helvetica, 'Open Sans', Arial, sans-serif;
  text-transform: uppercase;
  line-height: 1;
  background: #f62040;
  color: black;
  cursor: pointer;
}

a {
  color: inherit;
}

a:hover, a:active, a:focus {
  background: white !important;
}

.container {
  width: 100%;
  min-height: calc(100% - 4.25rem);
  padding: 1rem 0;
}

.container:last-of-type {
  min-height: initial;
}

.clear {
  clear: both;
}

#logo {
  float: left;
  padding-right: 1rem;
}

#trigger {
  float: right;
  cursor: pointer;
  font-size: 2rem;
  padding: 0 0.75rem;
}

#trigger:focus, #trigger.active {
  background: black;
  color: #f62040;
}

#nav {
  list-style: none;
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 3rem;
  background: black;
  color: #f62040;
  font-size: 2rem;
  text-align: right;
  z-index: 100;
}

#nav li a {
  display: block;
  text-decoration: none;
  width: 100%;
  padding: 0 0.75rem 0 1rem;
  margin-top: 0.5rem;
}

#nav li a:last-of-type {
  margin-bottom: 0.5rem;
}

img {
  width: initial;
  max-width: 100%;
  margin-bottom: 0.5rem;
}

.btn {
  display: inline-block;
  text-decoration: none;
  padding: 0.25rem 0.75rem;
  margin-bottom: 0.5rem;
  font-weight: 700;
  background: rgba(0, 0, 0, 0);
}

.btn.apple {
  background: #ff2d55;
}

.btn.spotify {
  background: #1db954;
}

.btn.youtube {
  background: #ff0000;
}

.btn#bandcamp {
  background: #61929c;
}

.btn#facebook {
  background: #3b5998;
}

.btn#twitter {
  background: #00b6f1;
}

.btn#instagram {
  background: #fbad50;
}

.btn#email {
  background: #f44336;
}

.album {
  float: left;
  margin: 0 0 1rem 0;
}

.iframe-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  margin-bottom: 0.5rem;
  text-align: initial;
}

.iframe-container iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}



@media (orientation: landscape) {

  .album {
    max-width: 260px;
  }

  .album:first-of-type {
    margin-right: 0.5rem;
  }

}

@media (min-width: 800px) {

  .album {
    max-width: 380px;
  }

}

@media (min-width: 1050px) {

  html, body {
    cursor: unset;
  }

  .album {
    max-width: 500px;
  }

  #trigger:hover, #trigger:active {
    background: black;
    color: #f62040;  
  }

}