* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html, body {
  height: 100%;
  cursor: pointer;
  -webkit-text-size-adjust: 100%;
}

html.freeze, body.freeze {
  overflow: hidden;
}

body {
  font-family: 'Helvetica Neue', 'Segoe UI', Helvetica, 'Open Sans', Arial, sans-serif;
  text-transform: uppercase;
  line-height: 1;
  background: #6de5a0;
  color: black;
}

body#music {
  background: #ffd700;
}

body#videos {
  background: #998598;
}

body#tour {
  background: #f62040;
}

body#merch {
  background: #97f0de;
}

body#contact {
  background: #ffb1be;
}

a {
  color: inherit;
  -webkit-tap-highlight-color: initial !important;
}

.container {
  width: 100%;
  padding: 1rem 0;
  position: relative;
}

.container#header {
  height: 4rem;
  padding-left: 0.75rem;
  z-index: 100;
  overflow: auto;
}

.container#header.open {
  height: 100%;
  background: black;
  color: #6de5a0;
}

body#music .container#header.open {
  color: #ffd700;
}

body#videos .container#header.open {
  color: #998598;
}

body#tour .container#header.open {
  color: #f62040;
}

body#merch .container#header.open {
  color: #97f0de;
}

body#contact .container#header.open {
  color: #ffb1be;
}

.container#content {
  min-height: calc(100% - 8.25rem);
  padding: 0;
}

.container#content h1 {
  padding-left: 0.75rem;
}

.container#footer {
  height: 4.25rem;
  padding-left: 0.75rem;
}

.clear {
  clear: both;
}

#logo {
  float: left;
  padding-right: 1rem;
}

#trigger {
  float: right;
  cursor: pointer;
  padding: 0 0.75rem;
  position: relative;
  z-index: 101;
}

#nav {
  list-style: none;
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  padding-top: 6rem;
  padding-bottom: 1rem;
  min-width: 100%;
  min-height: 100%;
  font-size: 2rem;
  text-align: right;
  z-index: 100;
}

#nav li {
  display: block;
}

#nav li a {
  display: inline-block;
  text-decoration: none;
  /* color: #6de5a0; */
  /* width: 100%; */
  padding: 0 0.75rem 0 1rem;
  margin: 0.75rem 0;
}

img {
  width: initial;
  max-width: 100%;
  margin-bottom: 0.5rem;
}

.btn {
  display: inline-block;
  text-decoration: none;
  padding: 0.25rem 0.75rem;
  margin-bottom: 0.5rem;
  font-weight: 700;
  background: rgba(0, 0, 0, 0);
}

.btn.apple {
  background: #ff2d55;
}

.btn.spotify {
  background: #1db954;
}

.btn.youtube {
  background: #ff0000;
}

.btn#bandcamp {
  background: #61929c;
}

.btn#facebook {
  background: #3b5998;
}

.btn#twitter {
  background: #00b6f1;
}

.btn#instagram {
  background: #fbad50;
}

.btn#email {
  background: #f44336;
}

.album {
  float: left;
  margin: 0 0 1rem 0;
}

.iframe-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  margin-bottom: 0.5rem;
  text-align: initial;
}

.iframe-container iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}



@media (orientation: landscape) {

  .album {
    max-width: 260px;
  }

  .album:first-of-type {
    margin-right: 0.5rem;
  }

}

@media (min-width: 800px) {

  .album {
    max-width: 380px;
  }

}

@media (min-width: 1050px) {

  html, body {
    cursor: unset;
  }

  a:hover, a:focus {
    background: white !important;
  }

  a#event:hover, a#event:focus {
    background: none !important;
  }

  #trigger:hover {
    /* background: black; */
    color: white;
  }

  .album {
    max-width: 500px;
  }

}