* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  box-sizing: border-box;
}

a {
  color: inherit;
}

body {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: min-content;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
  background: black;
}

.section#a {
  background-image: url("logo.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 33vw;
  width: 100%;
}

.section#b {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 100%;
  -webkit-overflow-scrolling: touch;
  box-shadow: 0px 0px 40px 10px #000000;
  height: min-content;
}

.section#c {
  height: 66vw;
  width: 100%;
  background: url("background.jpg") center/cover no-repeat;
  z-index: -1;
}

.section#d {
  width: 100%;
  height: 400px;
  box-shadow: 0px 0px 80px 20px #000000;
}

.menu#fb {
  background-color: #4267B2;
}

.menu#tw {
  background-color: #55acee;
}

.menu#ig {
  background-color: #e13267;
}

.menu#am {
  background-color: #ff2d55;
}

.menu#sp {
  background-color: #1DB954;
}

.menu#yt {
  background-color: #ff0000;
}

.menu#bc {
  background-color: #00B4B3;
}

a.menuLink {
  display: block;
  width: 100%;
  height: 100%;
  padding: 8px;
  text-decoration: none;
  text-align: center;
  color: white;
}

@media screen and (orientation: landscape), (min-width: 700px) {

  body {
    grid-template-columns: 100%;
    grid-template-rows: min-content auto;
  }

  .section#a {
    height: 56.25vw;
  }  

  a.menuLink {
    padding: 12px;
  }

  a.menuLink:hover {
    background: #ffffff47;
  }

}
